{% extends 'base.html' %}
{% block body %}
<body>
  <nav class="navigation">
    <ul>
      <li><a href="{{ url_for('index') }}"> Home </a></li>
      <li><a href="{{ url_for('about') }}" class="home">about us</a></li>
      <li><a href="{{ url_for('add_recipes') }}">add a recipe</a></li>
      <li><a href="{{ url_for('sign_in') }}">login</a></li>
    </ul>
  </nav>  
<h1 class="about-us">Foodima !</h1>
    <p class="about-us">the number one website to get recipes from.</p>
    <p class="about-us">we will help you to get the new and easyiest recipes to make somthing unique and tasty.</p>
    <p class="about-us">so join us in this jorny.</p>
    <p class="about-us">and become the new masterchef.</p>
</body>
{% endblock %}
